body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.featuredVehicle {
    text-align: center;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.jumbotron {
    margin: 0;
    padding: 0;
}

#specialIcon {
    font-size: 3em;
}

#navIcon {
    font-size: 2em;
}

#roleName {
    text-transform: capitalize;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#navbarDropdown {
    padding-top: 16px;
    padding-left: 0px;
    color: #007bff;
}

#searchButton {
    width: 35%;
}

#contactButton {
    margin-left: auto;
}

.deleteSpecial {
    margin-left: auto;
}

.dropdown-item {
    text-align: center;
}

.imageResult {
    width: 120px;
    height: auto;
}
