
@{
    ViewBag.Title = "Reports";
}
<div class="row">
    <h2>Reports</h2>
</div>
@Html.ActionLink("Inventory Report", "InventoryReport", "Admin")
<br />
@Html.ActionLink("Sales Report", "SalesReport", "Admin")


