@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <a class="nav-item nav-link" href="#">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</a>
    
}
